
/* ---------- Responsive ---------- */
@media (min-width: 1200px) {
    main { padding-top: 70px; }
    section { padding: 10px 100px; }
    h2.section-title { font-size: 3rem; }
    .media-grid { gap: 20px; }
    .section-separator { max-width: 1200px; }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    main { padding-top: 70px; }
    section { padding: 20px 80px; }
    h2.section-title { font-size: 2.75rem; }
    .media-grid { gap: 15px; }
    .section-separator { max-width: 1000px; }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .photos-header .section-title {
      /* Décalage de 15px vers la gauche */
       margin-bottom: 20px;
       width: 100%;
       text-align: center;
     }
    main { 
      padding-top: 70px; 
    }
    section {
       padding: 25px 60px; 
      }
    h2.section-title { 
      font-size: 2.5rem; 
    }
    .media-grid { 
      gap: 10px; 
      padding: 0 5px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .section-separator { 
      max-width: 800px;
     }
  }
  @media (max-width: 767px) {
    .photos-header .section-title {
     /* Décalage de 15px vers la gauche */
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
    }
    main { 
      padding-top: 70px;
     }
    section { 
      padding: 0px 20px;
     }
    h2.section-title {
      font-family: 'bold-montserrat', sans-serif;
       font-size: 2rem; text-align: center; 
      }
    .media-grid {
      padding: 0 0;
       grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); gap: 5px;
       }
    .section-separator {
       max-width: 90%;
       }
    .filter-buttons { 
      flex-wrap: wrap; justify-content: center; 
    }
    
.modal-content {
  position: relative;
 margin: 10px 10px;
  min-width: fit-content;  /* Taille minimale pour éviter un modal trop petit */
  min-height: fit-content; /* Taille minimale pour une bonne lisibilité */
  background: #000;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  /* Optionnel : centrer le contenu si besoin */
  align-items: center;
  justify-content: center;
}

.filter-buttons button {
  padding: 6px 10px;
  border: 2px solid #000;
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #000;
}
.filter-buttons button:hover,
.filter-buttons button.active {
  background-color: #000;
  color: #fff;
}
  }